################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Wekea/obj/Release/Wekea.csproj.CoreCompileInputs.cache
/Wekea/obj/Release
/Wekea/obj/Debug/Wekea.pdb
/Wekea/obj/Debug/Wekea.dll
/Wekea/obj/Debug/Wekea.csprojResolveAssemblyReference.cache
/Wekea/obj/Debug/Wekea.csproj.FileListAbsolute.txt
/Wekea/obj/Debug/Wekea.csproj.CopyComplete
/Wekea/obj/Debug
/Wekea/obj
/Wekea/bin/Wekea.pdb
/Wekea/bin/Wekea.dll.config
/Wekea/bin/Wekea.dll
/Wekea/bin/roslyn/VBCSCompiler.exe.config
/Wekea/bin/roslyn/VBCSCompiler.exe
/Wekea/bin/roslyn/vbc.rsp
/Wekea/bin/roslyn/vbc.exe.config
/Wekea/bin/roslyn/vbc.exe
/Wekea/bin/roslyn/System.Xml.XPath.XDocument.dll
/Wekea/bin/roslyn/System.Xml.XPath.dll
/Wekea/bin/roslyn/System.Xml.XmlDocument.dll
/Wekea/bin/roslyn/System.Xml.ReaderWriter.dll
/Wekea/bin/roslyn/System.ValueTuple.dll
/Wekea/bin/roslyn/System.Text.Encoding.CodePages.dll
/Wekea/bin/roslyn/System.Security.Principal.Windows.dll
/Wekea/bin/roslyn/System.Security.Cryptography.X509Certificates.dll
/Wekea/bin/roslyn/System.Security.Cryptography.Primitives.dll
/Wekea/bin/roslyn/System.Security.Cryptography.Encoding.dll
/Wekea/bin/roslyn/System.Security.Cryptography.Algorithms.dll
/Wekea/bin/roslyn/System.Security.Claims.dll
/Wekea/bin/roslyn/System.Security.AccessControl.dll
/Wekea/bin/roslyn/System.Reflection.Metadata.dll
/Wekea/bin/roslyn/System.IO.Pipes.dll
/Wekea/bin/roslyn/System.IO.Pipes.AccessControl.dll
/Wekea/bin/roslyn/System.IO.FileSystem.Primitives.dll
/Wekea/bin/roslyn/System.IO.FileSystem.dll
/Wekea/bin/roslyn/System.IO.Compression.dll
/Wekea/bin/roslyn/System.Diagnostics.StackTrace.dll
/Wekea/bin/roslyn/System.Diagnostics.FileVersionInfo.dll
/Wekea/bin/roslyn/System.Console.dll
/Wekea/bin/roslyn/System.Collections.Immutable.dll
/Wekea/bin/roslyn/System.AppContext.dll
/Wekea/bin/roslyn/Microsoft.VisualBasic.Core.targets
/Wekea/bin/roslyn/Microsoft.Managed.Core.targets
/Wekea/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
/Wekea/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
/Wekea/bin/roslyn/Microsoft.CSharp.Core.targets
/Wekea/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
/Wekea/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
/Wekea/bin/roslyn/Microsoft.CodeAnalysis.dll
/Wekea/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
/Wekea/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
/Wekea/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
/Wekea/bin/roslyn/csi.rsp
/Wekea/bin/roslyn/csi.exe.config
/Wekea/bin/roslyn/csi.exe
/Wekea/bin/roslyn/csc.rsp
/Wekea/bin/roslyn/csc.exe.config
/Wekea/bin/roslyn/csc.exe
/Wekea/bin/roslyn
/Wekea/bin
/Wekea
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs
