################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Wekea/obj/Release/Wekea.csproj.CoreCompileInputs.cache
